<div style="margin-top: 100px;margin-left: 200px">
    <table border="1" cellspacing="0" id="showApplyCer">
        <thead>
        <tr>
            <th width="100">国家</th>
            <th width="100">省份</th>
            <th width="100">地点</th>
            <th width="100">组织</th>
            <th width="100">通用名</th>
            <th width="100">DSN</th>
            <th width="100">审批状态</th>
        </tr>
        </thead>
        <tbody id="showApplyCerBody">

        </tbody>
    </table>
</div>
<button id="refreshButton">刷新</button>
<button id="getCertificate">获得证书</button>

<script>
    var username = $("#userName").html();
    function getCertificate(){
        $.post('/getCertificate/',{
            username:username
        },function(data,status){
            if (data == "200"){
                alert("证书获取成功");
            }else{
                alert("网络错误");
            }
        });
    }
    $("#getCertificate").click(function(){
        getCertificate();
    });

    function showApplyCerList() {
            $.post('/showApplyCerList/',{
        username:username
    },function (data,status) {
                var tmpRow;
                $("#showApplyCerBody").html("");
                data = $.parseJSON(data);
                for (var i =0; i< data.length;i++ ){
                    var message = data[i].fields;
                    if (message.authority == "1"){
                        message.authority = "等待审批";
                    }else{
                        message.authority = "审批通过";
                    }
                    tmpRow = $("<tr><td>"+message.country+"</td><td>"+message.province+"</td><td>"+message.locality+"</td><td>"+message.organization+"</td><td>"+message.common+"</td><td>"+message.dsn+"</td><td>"+message.authority+"</td></tr>");
                    $("#showApplyCerBody").append(tmpRow);
                }
    });
    };
    $("#refreshButton").click(function(){
        showApplyCerList()
    });
    $("#refreshButton").click()

</script>